################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/APIReceitas/.vs/APIReceitas/FileContentIndex
/APIReceitas/src/Backend/APIReceitas.Infraestrutura/obj/Debug/net7.0/APIReceitas.Infraestrutura.csproj.AssemblyReference.cache
/APIReceitas/src/Backend/APIReceitas.Aplication/obj/Debug/net7.0/APIReceitas.Aplication.csproj.AssemblyReference.cache
