################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/APIReceitas/.vs/APIReceitas/FileContentIndex
/APIReceitas/.vs/APIReceitas/DesignTimeBuild/.dtbcache.v2
/APIReceitas/.vs/APIReceitas/v17/.suo
/APIReceitas/.vs/APIReceitas/v17/.futdcache.v2
/APIReceitas/src/Backend/APIReceitas.Aplication/obj/Debug/net7.0/APIReceitas.Aplication.csproj.AssemblyReference.cache
